* {
    box-sizing: border-box;
}

h2 {
    font-size: 40px;
    color: darkblue;
    text-align: center;
}

section {
    width: auto;
    max-width: 1200px;
    margin: auto;
    padding: 8px;
    p {
        font-size: 1.1em;
        line-height: 1.6em;
    }
}