* {
    box-sizing: border-box;
}

h2 {
    font-size: 40px;
    color: darkblue;
    text-align: center;
}

h3 {
    font-size: 28px;
    color: darkblue;
    text-align: center;
    margin: 0;
}

h4 {
    font-size: 20px;
}

section {
    width: auto;
    max-width: 1200px;
    margin: auto;
    padding: 8px;
    p {
        font-size: 1.1em;
        line-height: 1.6em;
    }
}

hr {
    margin: 40px 0;
}